body {
  background-image: linear-gradient(90deg, rgba(253, 255, 122, 0.57) 15%, rgba(247, 25, 136, 1) 100%);
  color: rgb(107, 30, 30);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("tiger.cur.png"), auto;
  
}
.AFOAAJKF {
  width: 90px;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
  margin-top: 5px;
}
p {
  color: #6e3838;
}
label {
    display: block;
    text-align: left;
    margin: 8px 0 4px;
    font-weight: 600;
    color: #6e3838;
}
input {
    width: 90%;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px;
    outline: none;
}
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #6e3838;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}
.VINCENT10 {
    background: #ffffffcc;
    backdrop-filter: blur(6px);
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    height: 275px;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    gap: 10px;
    margin-left: -25px;
    transition: all 0.3s ease;
}
.VINCENT10:hover {
  box-shadow: 0 0 50px 4px rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.VINCENT10 h2, .VINCENT10 p {
  text-align: center;
  margin: 8px 0;

}
