body {
  height: 100vh;
  background-image: linear-gradient(135deg, rgb(81, 158, 235) 17%, rgba(255, 255, 255, 1) 100%);
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
   cursor: url("tiger.cur.png"), auto;
}

.fwqs{
    display: flex;
    text-align: center;
    vertical-align: middle;    
}
.fwqs h1{
  color: #fff;
  background-size: 300% 100%; 
  -webkit-background-clip: text;
  animation:glow 1s ease-in-out infinite alternate;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  margin-top: -20px;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 35px #fff;
  }
  to {
    text-shadow: 0 0 35px #fff;
  }
}

.kauc{
    width: 90px;
    margin-bottom: 10px;
}
.VINCENT4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: center;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

.vincent6 {
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 16px;
  border-radius: 12px;
  width: 320px;
  box-sizing: border-box;
  box-shadow: -2px 2px 50px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  backdrop-filter: blur(6px);
  flex-direction: column;
  transition: all 0.3s ease;
  margin-top: 15px;
}
.vincent6:hover{
  box-shadow: 0 0 50px 4px rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.vincent7{
 display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: center;
    max-width: 1200px;
    width: 100%;
  gap: 20px;
}

.vincent8 {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
}


.OMAGAGSUYAGUY {
  text-align: left;
  color: #ffffff;
}

.MALASSSSSKJA {
    opacity: 0.9;
    margin-top: -3px;
    text-align: center;
    color: #ffffff;

}

h2 {
    display: block;
    font-weight: bold;
}

.auasiu {
  text-align: center;
  color: #ffffff;
}
  
button {
    padding: 12px 25px;
    border-radius: 25px;
    border: 10px;
    background: rgb(168, 228, 252);
    color: #333;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}
button:hover {
  margin-bottom: 10px;
    background: #000000;
    color: #ffffff;
}
.andaclnk{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}